# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit testcoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/testcoin/testcoin.conf

[Unit]
Description=Testcoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/testcoind -daemon -conf=/etc/testcoin/testcoin.conf -pid=/run/testcoind/testcoind.pid
# Creates /run/testcoind owned by testcoin
RuntimeDirectory=testcoind
User=testcoin
Type=forking
PIDFile=/run/testcoind/testcoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
